body{
    background-color: black;
    color: white;
}
html {
  scroll-behavior: smooth;
}
nav{
    font-weight: bold;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    position: relative;
    
}
.logo-icon {
    font-size: 40px;           /* overall size */
}
.logo-text {
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, sans-serif;
}

.fa-circle {
    color: black;           /* blue color (you can change) */
}
.links{
    font-size: 20px;
    list-style-type:none;
    padding: 0px;
    display: flex;
    gap: 50px;
    align-items: center;
}
.links li a{
    text-decoration: none;   /* remove underline */
    color: white;            /* default color */
    font-size: 18px;
}

.heading{
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
}
/* hover effect */
.links li a:hover{
    color: orangered;
}

.name{
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.btn{
    text-decoration: none;
    padding: 6px 30px;
    margin-right: 10px;
    color:white;
    border: 2px solid orangered;
    border-radius: 50px;
    transition: 0.3s;
    font-size: 20px;
    font-weight: bold;
}

.btn:hover{
    background: orangered;
}
.logo-icon{
    font-size: 18px;
}

.title{
    margin: 0;
}
.menu{
    display: none;
}

.offCanvas{
    width: 200px;
    /* height: 320px; */
    border: 2px solid black;
    border-radius: 10px;

    position: absolute;
    top: 100%;
    left: 0;

    background-color: white;

    transform: translateX(-100%);
    transition: all 0.3s ease 0s;

    display: flex;
    justify-content: center;
    align-items: center;
    
}
#offCanvas:target{
    transform: translateX(0px);
}

.menu i{
    font-size: 24px;
}
.offCanvas-links{
    /* background-color: green; */
    list-style-type: none;
    padding: 20px;
    margin: 0;
    font-size:20px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    /* padding: 30px 20px; */
   
}
.offCanvas a{
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 4px;
    font-size: 13px;
}

@media (min-width:0px) and (max-width:900px) {
    .menu{
        display: block;
    }
    .links{
        display: none;
    }
    .offCanvas{
        display: block;
    }
}

/* ------------------------------- */
/* hero section */
.hero{                          
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 5px 40px 80px 40px;
}
/* LEFT CONTENT */
.hero-content{
    max-width: 50%;
}

.intro{
    font-size: 25px;
}
.hero-content h1{
    font-size: 50px;
    margin: 10px 0;
    color: orangered;
}
.hero-content h2{
    font-size: 30px;
    font-weight: normal;
}
.hero-content span{
    color: white;
    font-weight: bold;
}
.desc{
    margin: 20px 0;
    line-height: 1.6;
    color: #aaa;
}
/* BUTTONS */
.buttons{
    margin-top: 20px;
}

.outline{
    background: transparent;
    border: 2px solid orangered;
}

/* RIGHT IMAGE */
.hero-image img{
    width: 400px;
    border-radius: 20px;
    margin-top: 5px;
    margin-right: 100px;
}

.hero-image img:hover{
    transform: scale(1);
    box-shadow: 0 0 50px rgba(138, 43, 226, 0.8);
}
/* Responsive for hero section */
@media(min-width: 0px) and (max-width: 900px){
    .hero{
        flex-direction: column;   /* stack */
        text-align: center;
        height: auto;
        padding: 40px 20px;
    }

    .hero-content{
        max-width: 100%;
    }

    .hero-content h1{
        font-size: 40px;
    }

    .hero-content h2{
        font-size: 22px;
    }

    .desc{
        font-size: 14px;
    }

    .buttons{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .hero-image img{
        width: 250px;
        margin: 20px auto;   /* center image */
    }
}
/* About Section */

.about{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* background: radial-gradient(circle at left, #0f2f25, #000 60%); */
    color: white;
}
.about-container {
    width: 80%;
    max-width: 1100px;
    position: relative;
}
.about-content{
    padding-left: 20px;

}
.desc {
    color: #aaa;
    margin-bottom: 30px;
}
.info{
    display: flex;
    flex-direction: column;
    gap: 30px;

}

/* ------------------------------------ */
/* Skills section */
.skills-section {
  padding: 40px 20px;
  height: 100vh;
}

.skill {                   /* Skill spacing */
  margin: 30px 20px;

}

.progress {
  height: 10px 20px;
  background: #555;
  border-radius: 10px;
}

.progress-bar {
    background: #ff4d1c;
    border-radius: 10px;
}

.progress-bar {
  animation: load 2s ease;
}
@keyframes load {
  from { width: 0; }
}

/* -----------------PROJECTS------------------- */
/* cards grid */
.container2{
    height: 100vh;
}
.projects{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
    gap: 50px;
    justify-content: center;
    margin: 30px;
}
.card{
    width: 300px;
    /* height: 300px; */
    border: 1px solid black;
    border-radius: 10px; 
    overflow: hidden;
    position: relative;   /* parent */
    transition: 0.3s;
}
.card:hover{
    transform: translateY(-10px);
}
.image{
    width: 100%;
    height: 200px;
}
.content{ 
    background-color: gray;
    color: white;
    position: absolute;  /*child */
    bottom: 0px;
    left: 0px;
    width: 100%;
 }
h1,p{
    margin: 0px;
}

/* responsive for grid */
@media(min-width: 500px) and (max-width: 800px){
    .container2{
        grid-template-columns: auto auto;   /* make it in 2 columns */
    }
}
@media(min-width: 0px) and (max-width: 500px){
    .container2{
        grid-template-columns: auto;        /* make it in 1 columns */
    }
}

/* ------------------------- */
/* faqs */
.container3{
    width: 100%;
    border: 2px solid white;
    border-radius: 20px;
    padding: 20px;
}
.faq-section {
  background: #000;
  padding: 80px 0;
}

.accordion-item {
  background: #111;
  border: none;
  margin-bottom: 15px;
  border-radius: 10px;
  overflow: hidden;
}

/* QUESTION STYLE */
.accordion-button {
  background: #111;
  color: white;
  font-size: 16px;
  padding: 18px;
  border: none;
  box-shadow: none;
}

.accordion-button:focus {
  box-shadow: none;
}

/* ACTIVE (CLICKED) */
.accordion-button:not(.collapsed) {
  color: #ff4d1c;
  background: #111;
}

/* ARROW COLOR */
.accordion-button::after {
  filter: invert(1);
}

/* ANSWER */
.accordion-body {
  background: #0a0a0a;
  color: #ccc;
  padding: 15px 18px;
}

/* HOVER EFFECT */
.accordion-item:hover {
  transform: translateY(-3px);
  transition: 0.3s;
}

/* --------------------------------- */
/* footer */
.footer-section {
  background-color: #3E4452 !important;  /* pure black */
}
.footer-section {
  background: #0a0a0a;
  color: white;
  padding: 40px 0;
}

/* Social icons */
.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  
  width: 55px;
  height: 55px;
  
  margin: 0 10px;
  border-radius: 50%;
  
  background: #1a1a1a;   /* dark circle */
  color: white;
  font-size: 22px;

  transition: all 0.3s ease;
}

.social-icons a:hover {
  background: #ff4d1c;   /* orange */
  color: white;
  transform: translateY(-5px);  /* lift effect */
}

/* Contact Me */
.contact {
    margin: 20px;
    height: 100vh;
}

.contact-container {
    width: 85%;
    margin: auto;
    position: relative;
}

/* Top heading */
.top-text {
    text-align: center;
    margin-bottom: 60px;
}

.top-text h2 {
    font-size: 50px;
    margin-bottom: 10px;
}

.top-text p {
    color: #aaa;
    max-width: 700px;
    margin: auto;
}

/* Layout */
.contact-content {
    display: flex;
    gap: 50px;
}

/* LEFT SIDE */
.contact-info {
    flex: 1;
}

.info-box {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* Glow effect */
    background: black;
    border: 2px solid transparent;
    background-image: linear-gradient(black, black),
                      linear-gradient(45deg, red, purple, cyan);
    background-origin: border-box;
    background-clip: content-box, border-box;

    margin-right: 20px;
    font-size: 20px;
}

.info-box h3 {
    margin: 0;
}

.info-box p {
    margin: 5px 0 0;
    color: #aaa;
}

/* RIGHT FORM */
.contact-form {
    flex: 1;
}

.form-row {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    background: transparent;
    border: 1px solid #333;
    color: white;
    border-radius: 10px;
    outline: none;
}

.contact-form textarea {
    height: 80px;
    resize: none;
}

/* Button */
.contact-form button {
    margin-top: 20px;
    padding: 12px 35px;
    border: none;
    background: #ff4d2d;
    color: white;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover {
    background: #ff2c0a;
    transform: scale(1.05);
}

/* Responsive */
@media(max-width: 900px) {
    .contact-content {
        flex-direction: column;
    }
}

/* ----------Footer------------ */
.footer-links {
    text-decoration: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}

.footer-links a {
  text-decoration: none;
  color: orangered;
  font-size: 18px;
  transition: 0.3s;
}

/* HOVER EFFECT */
.footer-links a:hover {
    color: white;
}

/* UNDERLINE ANIMATION */
/* .footer-links a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 50%;
    bottom: -5px;
    background: #ff4d1c;
    transition: all 0.3s ease;
    transform: translateX(-50%); 
}

.footer-links a:hover::after {
  width: 100%;
} */